.flyover {
   width:40%;
   overflow: hidden;
   position: fixed;
   opacity: 0.95;
   z-index: 1050;
   transition: left 0.6s ease-out 0s;
}

 

.profile-form    .profile-user-info {
        margin: 0 12px;
    }

.profile-form    .profile-user-info-striped {
        border: 1px solid #dcebf7;
    }

.profile-form    .profile-info-row {
        position: relative;
    }

.profile-form    .profile-info-name {
        position: absolute;
        width: 150px;
        text-align: right;
        padding: 6px 10px 6px 0;
        left: 0;
        top: 0;
        bottom: 0;
        font-weight: normal;
        color: #667e99;
        background-color: transparent;
        border-top: 1px dotted #d5e4f1;
    }
.profile-form    .profile-info-row:first-child .profile-info-name {
        border-top: 0;
    }
.profile-form    .profile-user-info-striped .profile-info-name {
        color: #336199;
        background-color: #edf3f4;
        border-top: 1px solid #f7fbff;
    }


.profile-form    .profile-info-value {
        padding: 6px 4px 6px 6px;
        margin-left: 160px;
        border-top: 1px dotted #d5e4f1;
    }
.profile-form    .profile-info-row:first-child .profile-info-value {
        border-top: 0;
    }
.profile-form    .profile-user-info-striped .profile-info-value {
        border-top: 1px dotted #dcebf7;
        padding-left: 12px;
    }


