<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><meta name="ROBOTS" content="NOINDEX, NOFOLLOW">
	<!--<meta charset="UTF-16">-->
	<title>Slimer Portal</title>
	 <style type="text/css">
.header{
	line-height:28px;
	padding-bottom:4px;
	margin-top:18px;
	margin-bottom:16px;
	border-bottom-width:1px;
	border-bottom-style:solid;
}
.blue.header{
	border-bottom-color:#d5e3ef;
}
.blue{
	color:#478fca;
}
.bolder{
	font-weight:bold;
}
.profile-info-name{
	color:#336199;
	padding-top:6px;
	padding-bottom:6px;
	background-color:rgb(237, 243, 244);
}
.profile-info-value{
	padding-left:12px;
	padding-top:6px;
	padding-bottom:6px;
	border-color:#dcebf7;
	border-style:dotted;
	border-width:1px;
}
    </style>
</head>
<body>
<table border="0" cellpadding="0" cellspacing="0" width="100%" bgcolor="#FFFFFF">
	<tbody>
	<tr>
		<td valign="top" align="center">
        <table width="740" cellpadding="0" cellspacing="0" border="0" bgcolor="#FFFFFF">
            <tbody>
				<tr valign="top">
				<td width="10" bgcolor="#FFFFFF"></td>
                <td valign="top" align="left" width="620">
                <table width="720" cellpadding="0" cellspacing="0" border="0" bgcolor="#FFFFFF">
				<tbody><tr valign="top">
                 <td align="left" valign="top" b="" width="720"></td></tr>
				 </tbody>
				 </table>
                </td>
				</tr>
			</tbody>
		</table>
	<!-- start logo module -->
		<table width="720" cellpadding="0" cellspacing="0" border="0" bgcolor="#FFFFFF">
			<tbody><tr valign="top">
                <td align="left"></td>
				<td align="right" valign="middle" style="color:#478fca"><a href="https://Slimer.com" style="text-decoration:none;">Slimer Mail Notice</a></td>
                <td width="10" align="right" height="1"></td>
			</tr>
			</tbody>
		</table>
        <!-- end logo module -->
		<!-- start email content -->
        <table width="720" cellpadding="0" cellspacing="0" border="0" bgcolor="#FFFFFF">
            <tbody><tr valign="top">
				<td width="10" bgcolor="#FFFFFF" height="1"></td>
                <td valign="top" align="left" width="600">
        	<table width="700" cellpadding="0" cellspacing="0" border="0" bgcolor="#FFFFFF">
			<tbody><tr valign="top">
				<td colspan="3" valign="top" bgcolor="#def2fc">
                <!-- start light blue header -->
                <table width="700" cellpadding="0" cellspacing="0" border="0" bgcolor="#def2fc">
						<tbody><tr valign="top" height="85">
							<td width="35" height="85"></td>
							<td align="left" valign="middle" height="85"> 
							<table cellpadding="0" cellspacing="0" border="0" bgcolor="#def2fc">
								<tbody><tr valign="top">
									<td height="85" class="blue" style="font-family: Helvetica, Arial, Verdana, sans-serif; font-size: 28px; text-align:left;" valign="middle">Supervisor Deligation Notice</td>
								</tr>
							</tbody></table>
							</td>
							<td width="1" height="85"></td>
							<td width="34" height="85"></td>
						</tr>
					</tbody>
				</table>
                <!-- end light blue header -->
                </td>
				</tr>
                    <tr valign="top">
            <td colspan="3" height="35" width="1"></td>
            </tr>
            <tr valign="top">
				<td width="35" height="1"></td>
				<td align="left" valign="top" width="530">
				<!-- start content modules -->
				<table width="600" cellpadding="0" cellspacing="0" border="0" bgcolor="#FFFFFF">
				<tbody><tr valign="top">
						<td><table bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" width="530">
							<tbody>
								<tr valign="top">
									<td class="blue bolder" style="">Dear {{ deligatee }}:</td>
								</tr>
								<tr valign="top">
									<td height="15" width="1"></td>
								</tr>
							</tbody>
						</table></td>
					</tr>
					<tr valign="top">
						<td>
						<div class="blue header" width="100%">{{ deligator }} is asking for your help to do the below deligation:</div>
						</td>
					</tr>
					<tr valign="top">
						<td></td>
					</tr>
					<tr valign="top">
						<td>
							<table bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" width="530">
							<tbody>
							<tr valign="top" >
								<td width="20%" height="5"></td><td></td>
							</tr>
							<tr valign="top" >
								<td width="20%" height="5"></td><td></td>
							</tr>						
							<tr valign="top">
								<td width="20%" border=1 style="" class="profile-info-name">Comment</td>
								<td class="profile-info-value">{{  comment }}</td>
							</tr>
							<tr valign="top">
								<td width="20%" border=1 style="" class="profile-info-name">Until date</td>
								<td class="profile-info-value">{{  finish_date }}</td>
							</tr>
							<tr valign="top" >
								<td height="10" width="1"></td><td></td>
							</tr>
							</tbody>
							</table>
						</td>
					</tr>
					<tr valign="top">
						<td></td>
					</tr>
				</tbody>
				</table>
                <!-- end content modules -->
                </td>
                <td width="35" height="1"></td>
			</tr>
            <tr valign="top">
            <td colspan="3" height="35" width="100%"></td>
            </tr>
		</tbody></table>
        <!-- end email content -->
       <!-- start footer links -->
		<table border="0" cellpadding="0" cellspacing="0" width="700" bgcolor="#FFFFFF">
		<tbody><tr valign="top">
            <td colspan="2" height="25"></td>
            </tr>
            <tr valign="top">
            <td colspan="2" style="border-bottom:1px solid #28609c;" height="24"></td>
            </tr>
		</tbody>
		</table>
        <!-- end footer links -->
         
        <td width="10" bgcolor="#FFFFFF"></td>
        </tr>
        </tbody></table>
        <!-- start tracking -->
		<table>
		<tr valign="top">
		<td style="font-family: Helvetica, Arial, sans-serif; font-size:13px; color:#245c98;text-align:left;" align="left">
		</td>
		<td align="right"><a href="" style="font-size:15px; color:#4c9ac9; text-decoration:none;">Slimer Portal</a>
		</td>
		<td align="left">auto mail, do not reply</td>
		</tr>
		</table>
        <!-- end tracking -->      
        </td>
	</tr>
	</tbody>
	
</body></html>